/* Stylesheet for europe */
/* div tag templates */
.top-bar {
  text-align: center;
  margin-bottom: 30px
}
.back-button {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.cards {

}
.col-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.colum-left {
padding-left: 20px;
}
.colum-right {

}
/* page templates */
/* Remove all padding and margins from every tag */
* {
  padding: 0px;
  margin: 0px;
}
p {
  margin-top: 5px;
  margin-bottom: 5px
}

body {
    background-color: rgb(10, 20, 50);
    color: rgb(255, 255, 255);
    font-family: Arial, Calibri, sans-serif;
}

/* Set new font */
@font-face {
  /* Here, font family means the name i am going to use for the font */
    font-family: Wingdings;
    src: url("Fonts/Wingding Review.ttf");
}

/* Format main headings*/
h1 {
  color: rgb(255, 255, 0);
  font-family: Wingdings;
  margin: 20px 0px 20px 0px;
}

/* Format h2 headings*/
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Format h3 headings*/
h3 {
  margin-bottom: 10px;
  margin-top: 15px;
}

/* format for unorder list */
ul {
  /* margin: top right bottom left */
 /*margin: 0 0 3px 45px;  */
  margin-left: 45px;
  margin-bottom: 3px;
}

/* format link colours*/
a {
  color: rgb(0, 229, 255);
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px
}

a.visited{
  color: rgb(255, 0, 0);
}

a:hover{
  text-decoration: underline;
  color: rgb(158, 248, 255);
}
