* {
  margin: 0px;
  padding: 0px;
}

/* format nav bar */
.nav-container {
  background-color: black;
  width: 100%;
  padding: 20px;
  font-family: calibri;
}
.nav {
  background-color: : yellow;
  max-width: 1720px;
  /* set right and left margins to auto, this centers the box inside the nav container */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}
/* formatting links inside the nav div tag */
.nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
.nav a:hover {
  background-color: grey;

}
.logo {
  color: white;
}
.logo img {
  max-height: 80px;
}
.left-menu {

}
.bars-white {
  color: white;
}
/* class have dot ids have # */
/* hide the three bars when full screen */
#nav-toggle, .burger-menu {
  display: none;
}
/* media query to display the burger menu when screen goes below 1000px wide*/
@media only screen and (max-width: 1000px) {
  .burger-menu {
    display: inline-block;
  }
  .left-menu {
    display: none;
  }
  #nav-toggle:checked ~ .left-menu {
    display: grid;
    grid-row: 2;
    grid-column: span 3;
  }
}
